@use "sass:string";

/*
 * Material Design Components for the Web
 */
@use '@twyr/ember-mdc-web/dist/styles/ember-mdc-web' with (
	$primary-colour: #4338ca,
	$secondary-colour: #facc15,
	$error-colour: #f97316,
	$surface-colour: #f9fafb,
	$background-colour: #f1f5f9,

	$body-font-family: string.unquote('Inter, sans-serif'),
	$header-font-family: string.unquote('Josefin Sans, sans-serif')
);

/*
 * Tailwind JIT-ted stuff
 */

/* @use './tailwind-base.css'; */
@use './tailwind-components.css';
@use './tailwind-utilities.css';
@use './tailwind-variants.css';

/*
 * CSS Variable Overrides
 */
@use './global-vars.scss';
