.m-2 {
    margin: 0.5rem
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}
.mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem
}
.mr-2 {
    margin-right: 0.5rem
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.h-full {
    height: 100%
}
.max-h-full {
    max-height: 100%
}
.w-full {
    width: 100%
}
.max-w-none {
    max-width: none
}
.max-w-full {
    max-width: 100%
}
.flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row
}
.items-start {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start
}
.items-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.justify-start {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}
.justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center
}
.justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}
.justify-around {
    -ms-flex-pack: distribute;
        justify-content: space-around
}
.overflow-hidden {
    overflow: hidden
}
.overflow-y-auto {
    overflow-y: auto
}
.rounded {
    border-radius: 0.25rem
}
.border-b {
    border-bottom-width: 1px
}
.p-5 {
    padding: 1.25rem
}
.pb-12 {
    padding-bottom: 3rem
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.underline {
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline
}
.blur {
    --tw-blur: blur(8px);
    -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
            filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}
