.mdc-banner {
	&.mdc-banner--open {
		height: 64px;
	}

	& .mdc-banner__content {
		max-width: 100%;

		& .mdc-banner__icon {
			position: initial;
			top: unset;
			font-size: 2rem;
			transform: none;
		}

		& .mdc-banner__graphic {
			background-color: var(
				--mdc-banner-graphic-background-color,
				var(--mdc-theme-primary, #01579b)
			);
			color: var(
				--mdc-banner-graphic-color,
				var(--mdc-theme-surface, #fafafa)
			);
		}
	}

	&.mdc-banner--centered .mdc-banner__content {
		max-width: 720px;
	}
}
