.mdc-top-app-bar {
	@apply absolute;

	z-index: 8;
	background-color: var(--mdc-top-app-bar-background-color, var(--mdc-theme-primary));
	color: var(--mdc-top-app-bar-color, var(--mdc-theme-on-primary));

	&.mdc-top-app-bar--fixed {
		@apply fixed;
	}
}
