.mdc-evolution-chip {
	--mdc-ripple-color: var(
		--mdc-evolution-chip-ripple-color,
		rgb(0 0 0 / 0.87)
	);

	background-color: var(--mdc-evolution-chip-background-color, #dcdcdc);
	color: var(--mdc-evolution-chip-color, rgb(0 0 0 / 0.87));

	& .mdc-evolution-chip__icon {
		@apply pr-2;
	}

	& .mdc-evolution-chip__text-label {
		color: var(--mdc-evolution-chip-color, rgb(0 0 0 / 0.87));
	}

	& .mdc-evolution-chip__action--trailing {
		@apply pr-2;
	}

	&.mdc-evolution-chip--disabled {
		--mdc-evolution-chip-background-color: transparent;

		border-width: 1px;
		border-color: var(--mdc-evolution-chip-color, rgb(0 0 0 / 0.87));
	}
}
