@use "sass:string";
@use './reset.scss';

$primary-colour: #01579b !default;
$secondary-colour: #f57f17 !default;
$error-colour: #d50000 !default;
$surface-colour: #fafafa !default;
$background-colour: #f6f6f6 !default;
$body-font-family: string.unquote('Roboto, sans-serif') !default;
$header-font-family: string.unquote('Roboto, sans-serif') !default;

@use '@material/theme' with (
	$primary: $primary-colour,
	$secondary: $secondary-colour,
	$error: $error-colour,
	$surface: $surface-colour,
	$background: $background-colour
);

@use '@material/typography' with (
	$font-family: $body-font-family,
	$styles-headline1: (
		font-family: $header-font-family
	),
	$styles-headline2: (
		font-family: $header-font-family
	),
	$styles-headline3: (
		font-family: $header-font-family
	),
	$styles-headline4: (
		font-family: $header-font-family
	),
	$styles-headline5: (
		font-family: $header-font-family
	),
	$styles-headline6: (
		font-family: $header-font-family
	),
	$styles-subtitle1: (
		font-family: $header-font-family
	),
	$styles-subtitle2: (
		font-family: $header-font-family
	),
	$styles-body1: (
		font-family: $body-font-family
	),
	$styles-body2: (
		font-family: $body-font-family
	),
	$styles-caption: (
		font-family: $header-font-family
	),
	$styles-button: (
		font-family: $body-font-family
	),
	$styles-overline: (
		font-family: $body-font-family
	)
);

@use '@material/shape/shape' with (
	$small-component-radius: 6px,
	$medium-component-radius: 4px,
	$large-component-radius: 2px
);

/*
@use 'material-components-web/material-components-web';
*/

/*
 * Tailwind JIT-ted stuff
 */

/* @use './tailwind-base.css'; */
@use './tailwind-components.css';

/*
 * MDC Web Component Styles
 */

/* Abstract dropdown component */
@use './emdc-abstract-dropdown.scss';

/* Backdrop component */
@use './emdc-backdrop.scss';

/* Banner component */
@use '@material/banner/styles' as banner-styles;
@use './emdc-banner.scss';

/* Button component(s) - button, fab, icon-button, etc. */
@use '@material/button/mdc-button';
@use './emdc-button.scss';

@use '@material/fab/mdc-fab';
@use './emdc-fab.scss';

@use '@material/icon-button/mdc-icon-button';
@use './emdc-icon-button.scss';

/* Button Group component */
@use '@material/segmented-button/styles' as segmented-button-styles;
@use './emdc-segmented-button.scss';

/* Card component */
@use '@material/card/mdc-card';
@use './emdc-card.scss';

/* Checkbox component */
@use '@material/checkbox/mdc-checkbox';
@use './emdc-checkbox.scss';

/* Chips component */
@use '@material/chips/styles' as chip-styles;
@use './emdc-chip-set.scss';

/* Circular progress component */
@use '@material/circular-progress/mdc-circular-progress';
@use './emdc-circular-progress.scss';

/* Dialog component */
@use '@material/dialog/mdc-dialog';

/* Drawer component - aka sidebar */
@use '@material/drawer/mdc-drawer';
@use './emdc-drawer.scss';

/* Form field component - standard stuff used by all form fields */
@use '@material/form-field/mdc-form-field';
@use './emdc-form-field.scss';

/* Image List component */
@use '@material/image-list/mdc-image-list';
@use './emdc-image-list.scss';

/* Linear progress component */
@use '@material/linear-progress/mdc-linear-progress';
@use './emdc-linear-progress.scss';

/* List component */
@use '@material/list/mdc-list';
@use './emdc-list.scss';

/* Menu component */
@use '@material/menu-surface/mdc-menu-surface';
@use '@material/menu/mdc-menu';

/* Menu Bar component */
@use './emdc-menu-bar.scss';

/* Radio Button component */
@use '@material/radio/mdc-radio';
@use './emdc-radio.scss';

/* Select component */
@use '@material/select/styles' as select-styles;
@use './emdc-select.scss';

/* Slider component */
@use '@material/slider/styles' as slider-styles;
@use './emdc-slider.scss';

/* Snackbar component */
@use '@material/snackbar/mdc-snackbar';
@use './emdc-snackbar.scss';

/* Switch component */
@use '@material/switch/styles' as switch-styles;

/* Tab Bar / Tab component */
@use '@material/tab-bar/mdc-tab-bar';
@use '@material/tab-scroller/mdc-tab-scroller';
@use '@material/tab-indicator/mdc-tab-indicator';
@use '@material/tab/mdc-tab';
@use './emdc-tab.scss';

/* Text Field component */
@use '@material/floating-label/mdc-floating-label';
@use '@material/line-ripple/mdc-line-ripple';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/textfield/mdc-text-field';
@use './emdc-text-field.scss';

/* Top Bar component */
@use '@material/top-app-bar/mdc-top-app-bar';
@use './emdc-top-app-bar.scss';

/*
 * MDC Theme, Typography, etc.
 */

/* Elevation styles */
@use '@material/elevation/mdc-elevation';

/* Theme and Typography */
@use '@material/theme/mdc-theme';
@use '@material/typography/mdc-typography';

/*
 * Material Design Icons
 */
@use '@mdi/font/scss/materialdesignicons' with (
	$mdi-font-path: '../@mdi/font/fonts'
);

/*
 * Tailwind JIT-ted stuff
 */
@use './tailwind-utilities.css';
@use './tailwind-variants.css';

/*
 * EMDC Utilities
 */
@use './emdc-utilities.css';
