@use './reset.scss';

@use '@material/theme' with (
	$primary: #01579b,
	$secondary: #f57f17,
	$error: #d50000,
	$surface: #fafafa,
	$background: #f6f6f6
);

@use '@material/typography' with (
	$font-family: unquote('Inter, sans-serif'),
	$styles-headline1: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-headline2: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-headline3: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-headline4: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-headline5: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-headline6: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-subtitle1: (
		font-family: unquote('Josefin Sans, sans-serif')
	),
	$styles-subtitle2: (
		font-family: unquote('Josefin Sans, sans-serif')
	)
);

@use '@material/shape/shape' with (
	$small-component-radius: 0.375rem,
	$medium-component-radius: 0.25rem,
	$large-component-radius: 0.125rem
);

/*
@use 'material-components-web/material-components-web';
*/

/*
 * Utilities
 */
@use './utilities.css';

/*
 * MDC Web Component Styles
 */
@use '@material/card/mdc-card';
@use './emdc-card.css';

/*
 * MDC Theme, Typography, etc.
 */

@use '@material/theme/mdc-theme';
@use '@material/typography/mdc-typography';
