
	.mdc-slider .mdc-slider__track--active_fill {
		border-color: var(
			--mdc-slider-track-background-color,
			var(--mdc-theme-primary),
			#01579b
		);
		background-color: var(
			--mdc-slider-track-background-color,
			var(--mdc-theme-primary),
			#01579b
		);
		-webkit-transform: scaleX(var(--mdc-slider-value, 50%));
		        transform: scaleX(var(--mdc-slider-value, 50%));
	}

.mdc-slider .mdc-slider__track--inactive {
		background-color: var(
			--mdc-slider-track-background-color,
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-slider .mdc-slider__thumb::before {
		background-color: var(
			--mdc-slider-ripple-color,
			var(--mdc-ripple-color),
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-slider .mdc-slider__thumb::after {
		background-color: var(
			--mdc-slider-ripple-color,
			var(--mdc-ripple-color),
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-slider .mdc-slider__thumb-knob {
		border-color: var(
			--mdc-slider-thumb-knob-color,
			var(--mdc-theme-primary),
			#01579b
		);
		background-color: var(
			--mdc-slider-thumb-knob-color,
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-slider .mdc-slider__tick-mark--active {
		background-color: var(
			--mdc-slider-active-tick-color,
			var(--mdc-theme-on-primary),
			#fff
		);
	}

.mdc-slider .mdc-slider__tick-mark--inactive {
		background-color: var(
			--mdc-slider-inactive-tick-color,
			var(--mdc-theme-primary),
			#01579b
		);
	}

[dir='ltr'] .mdc-slider .mdc-slider__thumb {
	left: calc(var(--mdc-slider-value, 50%) - 24px);
}

[dir='rtl'] .mdc-slider .mdc-slider__thumb {
	right: calc(var(--mdc-slider-value, 50%) - 24px);
}
