.mdc-abstract-dropdown {
    position: relative;
    background-color: transparent
}
.mdc-abstract-dropdown[disabled] {
    pointer-events: none
}
.mdc-abstract-dropdown:not([disabled]) .mdc-abstract-dropdown__trigger {
    cursor: pointer
}
.mdc-abstract-dropdown:not([disabled]) .mdc-abstract-dropdown__content {
    position: absolute;
    text-overflow: ellipsis
}
