.mdc-drawer {

		overflow-y: auto
}
.mdc-drawer .mdc-drawer__header {

		padding-top: 0.5rem;

		background-color: var(--mdc-theme-surface);

		background-color: var(--mdc-drawer-header-background-color, var(--mdc-theme-surface));
		color: var(--mdc-theme-on-surface);
		color: var(--mdc-drawer-header-color, var(--mdc-theme-on-surface))
}
