.mdc-tab {
	-webkit-box-flex: unset;
	    -ms-flex: unset;
	        flex: unset
}

.mdc-tab.stretch {
		-webkit-box-flex: 1;
		    -ms-flex: 1 0 auto;
		        flex: 1 0 auto;
	}

.mdc-tab--active .mdc-tab__icon {
		color: var(--mdc-active-tab-color, var(--mdc-theme-primary), #01579b);
	}

.mdc-tab--active .mdc-tab__text-label {
		color: var(--mdc-active-tab-color, var(--mdc-theme-primary), #01579b);
	}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
	border-color: var(--mdc-active-tab-color,
			var(--mdc-theme-primary),
			#01579b);
}

.mdc-tab .mdc-tab__ripple::before,
.mdc-tab .mdc-tab__ripple::after {
	background-color: var(--mdc-active-tab-color,
			var(--mdc-theme-primary),
			#01579b);
}

.mdc-tab-indicator .mdc-tab-indicator__content--icon {
	color: var(--mdc-active-tab-color, var(--mdc-theme-secondary), #f57f17);
}
