.mdc-card__header {

    padding: 0.75rem
}

.mdc-card__header .mdc-card__header--article {

    width: 100%
}

[dir="rtl"] .mdc-card__header .mdc-card__header--article {

    text-align: right
}

[dir="ltr"] .mdc-card__header .mdc-card__header--article {

    text-align: left
}

.mdc-card__header .mdc-card__header--article {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column
}

.mdc-card__content {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    position: relative;

    outline: 2px solid transparent;

    outline-offset: 2px;

    overflow: hidden;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;

    color: inherit
}

.mdc-card__content.vertical {

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column
}

.mdc-card__content.horizontal {

    -webkit-box-orient: horizontal;

    -webkit-box-direction: normal;

        -ms-flex-direction: row;

            flex-direction: row
}

.mdc-card__content .mdc-card__content-default {

    padding: 0.75rem
}

[dir="rtl"] .mdc-card__content .mdc-card__content-default {

    text-align: right
}

[dir="ltr"] .mdc-card__content .mdc-card__content-default {

    text-align: left
}

.mdc-card__content .mdc-card__media-content {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;

    -ms-flex-line-pack: end;

        align-content: flex-end;

    -webkit-box-pack: end;

        -ms-flex-pack: end;

            justify-content: flex-end;

    -ms-flex-item-align: end;

        align-self: flex-end;

    padding-left: 0.75rem;

    padding-right: 0.75rem
}

.mdc-card__primary-action.vertical {

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column
}

.mdc-card__primary-action.horizontal {

    -webkit-box-orient: horizontal;

    -webkit-box-direction: normal;

        -ms-flex-direction: row;

            flex-direction: row
}

.mdc-card__primary-action .mdc-card__primary-action-default {

    padding: 0.75rem
}

[dir="rtl"] .mdc-card__primary-action .mdc-card__primary-action-default {

    text-align: right
}

[dir="ltr"] .mdc-card__primary-action .mdc-card__primary-action-default {

    text-align: left
}

.mdc-card__primary-action .mdc-card__media-content {

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    -webkit-box-orient: vertical;

    -webkit-box-direction: normal;

        -ms-flex-direction: column;

            flex-direction: column;

    -ms-flex-line-pack: end;

        align-content: flex-end;

    -webkit-box-pack: end;

        -ms-flex-pack: end;

            justify-content: flex-end;

    -ms-flex-item-align: end;

        align-self: flex-end;

    padding-left: 0.75rem;

    padding-right: 0.75rem
}
