@use './../node_modules/@material/theme/theme-color' as tc;

.mdc-list-group__subheader {
	color: tc.$primary;
	color: var(--mdc-list-group-subheader-color, var(--mdc-theme-primary, tc.$primary));
}

.mdc-list-item {
	align-items: center;
	height: 48px;
	-webkit-box-align: center;
	-ms-flex-align: center;
}

:not(.mdc-list-item--disabled).mdc-list-item .mdc-list-item__ripple::before, :not(.mdc-list-item--disabled).mdc-list-item .mdc-list-item__ripple::after {
	background-color: tc.$primary;
	background-color: var(--mdc-list-item-ripple-color, var(--mdc-ripple-color, var(--mdc-theme-primary, tc.$primary)));
}

.mdc-list-item__graphic{
	display: box;
	display: flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	margin: 0;
	margin-right: 0.5rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}

.mdc-list-item__graphic.double{
	height: 100%;
	font-size: 1.875rem;
	line-height: 2.25rem;
	aspect-ratio: 1 / 1;
}

.mdc-list-item__meta{
	display: box;
	display: flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0;
	margin-left: auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
}

.mdc-list-item__meta.double{
	height: 100%;
	font-size: 1.875rem;
	line-height: 2.25rem;
	aspect-ratio: 1 / 1;
}
