.mdc-evolution-chip {
	background-color: var(--mdc-evolution-chip-background-color, #dcdcdc);
	color: var(--mdc-evolution-chip-color, rgb(0 0 0 / 0.87))
}
.mdc-evolution-chip .mdc-evolution-chip__icon {
	padding-right: 0.5rem
}
.mdc-evolution-chip .mdc-evolution-chip__text-label {
		color: var(--mdc-evolution-chip-color, rgb(0 0 0 / 0.87));
	}
.mdc-evolution-chip .mdc-evolution-chip__action--trailing {
	padding-right: 0.5rem
}
.mdc-evolution-chip.mdc-evolution-chip--disabled {
		--mdc-evolution-chip-background-color: transparent;

		border-width: 1px;
		border-color: var(--mdc-evolution-chip-color, rgb(0 0 0 / 0.87));
	}
.mdc-evolution-chip .mdc-evolution-chip__action--primary .mdc-evolution-chip__ripple::before {
		background-color: var(
			--mdc-evolution-chip-ripple-color,
			var(--mdc-ripple-color, rgb(0 0 0 0.87))
		);
	}
.mdc-evolution-chip .mdc-evolution-chip__action--primary .mdc-evolution-chip__ripple::after {
		background-color: var(
			--mdc-evolution-chip-ripple-color,
			var(--mdc-ripple-color, rgb(0 0 0 0.87))
		);
	}
