
	.mdc-tab--active .mdc-tab__icon {
		color: var(--mdc-active-tab-color, var(--mdc-theme-primary), #01579b);
	}

.mdc-tab--active .mdc-tab__text-label {
		color: var(--mdc-active-tab-color, var(--mdc-theme-primary), #01579b);
	}

.mdc-tab-indicator .mdc-tab-indicator__content--underline {
	border-color: var(
		--mdc-active-tab-color,
		var(--mdc-theme-primary),
		#01579b
	);
}

.mdc-tab .mdc-tab__ripple::before,
.mdc-tab .mdc-tab__ripple::after {
	background-color: var(
		--mdc-active-tab-color,
		var(--mdc-theme-primary),
		#01579b
	);
}
