
.standard-image-list .mdc-image-list__item {
	width: calc(100% / 5 - 4.2px);
	margin: 2px;
}

.standard-image-list .mdc-image-list__image-aspect-container {
	padding-bottom: 66.6667%;
}

.standard-image-list .mdc-image-list__image {
	border-radius: 8px;
}

.standard-image-list.mdc-image-list--with-text-protection .mdc-image-list__supporting {
	border-radius: 0 0 8px 8px;
}

.masonry-image-list {
	column-count: 5;
	column-count: 5;
	column-count: 5;
	column-gap: 1rem;
	column-gap: 1rem;
	column-gap: 1rem
}

.masonry-image-list .mdc-image-list__item {
	margin-bottom: 1rem;
}
