@use './../node_modules/@material/theme/theme-color' as tc;

.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
	color: tc.$primary;
	color: var(--mdc-select-field-color, var(--mdc-theme-text-primary-on-background, tc.$primary));
}

.mdc-select:not(.mdc-select--disabled) + .mdc-select-helper-text {
	color: tc.$primary;
	color: var(--mdc-select-field-color, var(--mdc-theme-text-primary-on-background, tc.$primary));
}

.mdc-select:not(.mdc-select--disabled) .mdc-line-ripple::before {
	border-bottom-color: tc.$primary;
	border-bottom-color: var(--mdc-select-field-color, var(--mdc-ripple-color, var(--mdc-theme-primary, tc.$primary)));
}

.mdc-select:not(.mdc-select--disabled) .mdc-line-ripple::after {
	border-bottom-color: tc.$primary;
	border-bottom-color: var(--mdc-select-field-color, var(--mdc-ripple-color, var(--mdc-theme-primary, tc.$primary)));
}

.mdc-select:not(.mdc-select--disabled):hover .mdc-line-ripple::before {
	border-bottom-color: tc.$primary;
	border-bottom-color: var(--mdc-select-field-color, var(--mdc-ripple-color, var(--mdc-theme-primary, tc.$primary)));
}

.mdc-select.mdc-select--focused:not(.mdc-select--disabled) .mdc-floating-label {
	color: tc.$primary;
	color: var(--mdc-select-field-color, var(--mdc-theme-text-primary-on-background, tc.$primary));
}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined.mdc-select--focused:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined.mdc-select--focused:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__notch {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined.mdc-select--focused:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused)
.mdc-select__anchor:hover
.mdc-notched-outline
.mdc-notched-outline__leading {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused)
.mdc-select__anchor:hover
.mdc-notched-outline
.mdc-notched-outline__notch {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused)
.mdc-select__anchor:hover
.mdc-notched-outline
.mdc-notched-outline__trailing {
	border-color: tc.$background;
	border-color: var(--mdc-select-field-color, var(--mdc-theme-background, tc.$background));
}
