
	.mdc-select:not(.mdc-select--disabled) .mdc-floating-label {
		color: var(
			--mdc-select-field-color,
			var(--mdc-theme-primary),
			rgb(0 0 0 / 0.6)
		);
	}

.mdc-select:not(.mdc-select--disabled) + .mdc-select-helper-text {
		color: var(
			--mdc-select-field-color,
			var(--mdc-theme-primary),
			rgb(0 0 0 / 0.6)
		);
	}

.mdc-select:not(.mdc-select--disabled) .mdc-line-ripple::before {
		border-bottom-color: var(
			--mdc-select-field-color,
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-select:not(.mdc-select--disabled) .mdc-line-ripple::after {
		border-bottom-color: var(
			--mdc-select-field-color,
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-select:not(.mdc-select--disabled):hover .mdc-line-ripple::before {
		border-bottom-color: var(
			--mdc-select-field-color,
			var(--mdc-theme-primary),
			#01579b
		);
	}

.mdc-select.mdc-select--focused:not(.mdc-select--disabled) .mdc-floating-label {
		color: var(
			--mdc-select-field-color,
			var(--mdc-theme-primary),
			rgb(0 0 0 / 0.6)
		);
	}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__leading {
		border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
	}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__notch {
		border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
	}

.mdc-select--outlined:not(.mdc-select--disabled) .mdc-notched-outline__trailing {
		border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
	}

.mdc-select--outlined.mdc-select--focused:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__leading {
			border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
		}

.mdc-select--outlined.mdc-select--focused:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__notch {
			border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
		}

.mdc-select--outlined.mdc-select--focused:not(.mdc-select--disabled) .mdc-notched-outline .mdc-notched-outline__trailing {
			border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
		}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused)
	.mdc-select__anchor:hover
	.mdc-notched-outline
	.mdc-notched-outline__leading {
		border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
	}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused)
	.mdc-select__anchor:hover
	.mdc-notched-outline
	.mdc-notched-outline__notch {
		border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
	}

.mdc-select--outlined:not(.mdc-select--disabled):not(.mdc-select--focused)
	.mdc-select__anchor:hover
	.mdc-notched-outline
	.mdc-notched-outline__trailing {
		border-color: var(--mdc-select-field-color, rgb(0 0 0 / 0.38));
	}
