.mdc-backdrop {

	top: 0px;

	right: 0px;

	bottom: 0px;

	left: 0px;

	z-index: 10;

	opacity: 0.25;

	background-color: rgb(0 0 0 / 32%);

	background-color: var(--mdc-theme-background, rgb(0 0 0 / 32%))
}
