
	.mdc-banner.mdc-banner--open {
		height: 64px;
	}
.mdc-banner .mdc-banner__content {
		max-width: 100%
	}
.mdc-banner .mdc-banner__content .mdc-banner__icon {
			position: initial;
			top: unset;
			font-size: 2rem;
			-webkit-transform: none;
			        transform: none;
		}
.mdc-banner .mdc-banner__content .mdc-banner__graphic {
			background-color: var(--mdc-banner-graphic-background-color,
					var(--mdc-theme-primary, #01579b));
			color: var(--mdc-banner-graphic-color, var(--mdc-theme-surface, #fafafa));
		}
.mdc-banner.mdc-banner--centered .mdc-banner__content {
		max-width: 720px;
	}
